<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aCTIVITY">
            <h2><span jhiTranslate="accessMuxApp.aCTIVITY.detail.title">ACTIVITY</span> {{aCTIVITY.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accessMuxApp.aCTIVITY.login">Login</span></dt>
                <dd>
                    <span>{{aCTIVITY.login}}</span>
                </dd>
                <dt><span jhiTranslate="accessMuxApp.aCTIVITY.role">Role</span></dt>
                <dd>
                    <span>{{aCTIVITY.role}}</span>
                </dd>
                <dt><span jhiTranslate="accessMuxApp.aCTIVITY.url">Url</span></dt>
                <dd>
                    <span>{{aCTIVITY.url}}</span>
                </dd>
                <dt><span jhiTranslate="accessMuxApp.aCTIVITY.time">Time</span></dt>
                <dd>
                    <span>{{aCTIVITY.time}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', aCTIVITY.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
