<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-activity-heading" jhiTranslate="accessMuxApp.aCTIVITY.home.createOrEditLabel">Create or edit a ACTIVITY</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!aCTIVITY.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="aCTIVITY.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accessMuxApp.aCTIVITY.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                        [(ngModel)]="aCTIVITY.login" required/>
                    <div [hidden]="!(editForm.controls.login?.dirty && editForm.controls.login?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.login?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accessMuxApp.aCTIVITY.role" for="field_role">Role</label>
                    <input type="text" class="form-control" name="role" id="field_role"
                        [(ngModel)]="aCTIVITY.role" required/>
                    <div [hidden]="!(editForm.controls.role?.dirty && editForm.controls.role?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.role?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accessMuxApp.aCTIVITY.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="aCTIVITY.url" required/>
                    <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="accessMuxApp.aCTIVITY.time" for="field_time">Time</label>
                    <input type="text" class="form-control" name="time" id="field_time"
                        [(ngModel)]="aCTIVITY.time" required/>
                    <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.time?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
