<div style="padding: 1.6%;">
    <h2 id="page-heading">
        <span jhiTranslate="accessMuxApp.hR.home.title">HRS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hr" [routerLink]="['/hr/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="accessMuxApp.hR.home.createLabel">
            Create new HR
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hRS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="accessMuxApp.hR.url">Url</span></th>
            <th><span jhiTranslate="accessMuxApp.hR.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hR of hRS ;trackBy: trackId">
                <td><a [routerLink]="['/hr', hR.id, 'view' ]">{{hR.id}}</a></td>
                <td>{{hR.url}}</td>
                <td>{{hR.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hr', hR.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hr', hR.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hr/'+ hR.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
