<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fINANCES">
            <h2><span jhiTranslate="accessMuxApp.fINANCES.detail.title">FINANCES</span> {{fINANCES.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accessMuxApp.fINANCES.url">Url</span></dt>
                <dd>
                    <span>{{fINANCES.url}}</span>
                </dd>
                <dt><span jhiTranslate="accessMuxApp.fINANCES.description">Description</span></dt>
                <dd>
                    <span>{{fINANCES.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/finances', fINANCES.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
