<div class="bg">
    <div class="pulse">
        <span></span>
        <span></span>
    </div>
    <div [ngSwitch]="isAuthenticated()" class="welcome">
        <span *ngSwitchCase="true" class="text1" jhiTranslate="home.greeting">Welcome in</span>
        <span *ngSwitchCase="true" class="text2">{{account.login}}</span>
    </div>
</div>
<div class="media">
    <ul>
        <li><a><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a></li>
        <li><a><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
        <li><a><fa-icon [icon]="['fab', 'google-plus']"></fa-icon></a></li>
        <li><a><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a></li>
        <li><a><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a></li>
    </ul>
</div>
