<div class="bg">
    <div class="pulse">
        <span></span>
        <span></span>
    </div>
    <div [ngSwitch]="isAuthenticated()" class="welcome">
        <span *ngSwitchCase="true" class="text1" jhiTranslate="home.greeting">Welcome in</span>
        <span *ngSwitchCase="true" class="text2">{{account.login}}</span>
    </div>
</div>
<div class="media">
    <ul>
        <li><a><i class="fab fa-facebook"></i></a></li>
        <li><a><i class="fab fa-twitter"></i></a></li>
        <li><a><i class="fab fa-google-plus"></i></a></li>
        <li><a><i class="fab fa-linkedin"></i></a></li>
        <li><a><i class="fab fa-instagram"></i></a></li>
    </ul>
</div>
