<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="iT">
            <h2><span jhiTranslate="accessMuxApp.iT.detail.title">IT</span> {{iT.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="accessMuxApp.iT.url">Url</span></dt>
                <dd>
                    <span>{{iT.url}}</span>
                </dd>
                <dt><span jhiTranslate="accessMuxApp.iT.description">Description</span></dt>
                <dd>
                    <span>{{iT.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/it', iT.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
